body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-family: initial;
}

.bgImg {
  background-image: url("/assets/Gemini_Generated_Image_czewi6czewi6czew.png");
  background-size: cover;
  height: 870px;
}

.navbar {
  height: 65.1px;
  width: 100%;
  position: fixed;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  background-color: rgba(255, 255, 255, 0.085);
  backdrop-filter: blur(10px); /* blur effect */
}

.logo {
  padding-left: 50px;
}

.logo img {
  height: 24px;
  width: 130px;
  padding-left: 100px;
}

.nav-links {
  width: 400px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  color: lab(0 0 0);
}

.nav-links .links {
  font-weight: 550;
}

.sideicon {
  width: 272px;
  padding-right: 120px;
  font-weight: 550;
  display: flex;
  gap: 10px;
}

.sideicon button {
  width: 116px;
  height: 33.1px;
  border: none;
  border-radius: 20px;
}

#btn1 {
  color: lab(0 0 0);
  padding: 4.5px 12px;
  background-color: rgb(255, 255, 255, 0.09);
  font-size: 15px;
}

#btn2 {
  color: lab(2.42, -0.16, -0.47);

  padding: 4.5px 12px;
  font-size: 15px;
}

.new button {
  width: 380px;
  height: 30px;
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  position: relative;
  top: 100px;
  left: 37.5%;
}

#child-1 {
  background-color: rgba(52, 189, 52, 0.816);
  width: 45px;
  height: 22px;

  padding-left: 2px;
  border-radius: 20px;
  text-align: center;
  font-size: 15px;
  align-content: center;
}

#new button i {
  padding: 10px;
}

.new button p {
  font-weight: 500;
  font-size: 15px;
}

.headings {
  position: relative;
  top: 12%;

  color: #ffff;
}

.headings h1 {
  font-size: 56.52px;
  text-align: center;
  font-family: initial inherit;
}

.headings p {
  font-size: 20px;
  text-align: center;
  line-height: 7px;
}

.searchbar {
  margin-top: 50px;
  width: 360px;
  height: 42.7px;
  background-color: lightblue;
  position: relative;
  left: 38.2%;
  border-radius: 20px;
  background-color: rgb(255, 255, 255, 0.09);
}

.searchbar input {
  margin: 10px;
  height: 20px;
  width: 230px;
  outline: none;
  border: none;
  background-color: rgb(255, 255, 255, 0);
  color: #ffff;
  font-weight: 500;
}

.searchbar button {
  width: 95px;
  height: 33px;
  border: none;
  border-radius: 20px;
}

.searchbar input::placeholder {
  color: #fff;
  opacity: 0.5;
  font-size: 14px;
}

.hero {
  margin-top: 200px;
  margin-left: 220px;
}

.hero img {
  width: 1075px;
  height: 654px;
  border-radius: 20px;
}

.Knowledge {
  width: 1500px;
  height: 1298px;
  background-color: lab(2.43% -0.12 -0.47 / 0.022);
  border: 2px solid beige;
  margin-top: 100px;
}

.explore {
  height: 210px;
  width: 1024px;
  display: flex;
  justify-content: space-between;

  gap: 150px;
  margin: 100px 240px 20px 240px;
}

.explore h1 {
  font-size: 40px;
}
.explore p {
  font-size: 16px;
}
.explore h4 {
  font-size: 12px;
  color: rgba(11, 146, 11, 0.753);
}

.explore button {
  width: 213px;
  height: 39.1px;
  border: none;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  position: relative;
  top: 150px;
}

.explore-2 {
  height: 210px;
  width: 1024px;
  display: flex;

  gap: 50px;
  margin: 0px 240px 20px 240px;
  justify-content: center;
  align-items: center;
}

.explore-2 h1 {
  font-size: 20px;
}
.explore-2 p {
  font-size: 16px;
}

.explore-3 {
  height: 1177px;
  width: 595px;
  margin: 0px 240px 0px 240px;
  margin-top: 70px;
}

#anthropic {
  border-radius: 20px;
  display: block;
}

.texts {
  position: relative;
  color: #ffff;
  bottom: 320px;
  z-index: 1;
  display: flex;

  width: 896px;
  gap: 120px;

  padding-left: 67px;
}

#numbers {
  font-size: 100px;
}
.texts p {
  font-size: 16px;
}

#uppertext {
  position: relative;
  color: #fff;
  bottom: 470px;
  z-index: 1;
  padding-left: 67px;
}

#uppertext p {
  font-size: 16px;
}

#uppertext h3 {
  font-size: 28.72px;
  font-weight: 400;
}

.texts #number {
  font-size: 20px;
}

#logs {
  position: relative;
  bottom: 260px;
  right: 10px;
}

#logs img {
  height: 80px;
}

.unlock-knowledge {
  height: 884px;
  width: 100%;
}

.knowledge-heading {
  width: 1024px;
  text-align: center;
  height: 238px;
  margin: 150px 200px 20px 240px;
}

.knowledge-heading p {
  font-size: 18px;
}

.knowledge-heading h1 {
  font-size: 44px;
}

#customer {
  font-size: 18px;
  color: rgba(11, 146, 11, 0.753);
}

.slidwindo {
  width: 100%;
  height: 500px;
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.slidwindo img {
  height: 290px;
  width: 394px;
  border-radius: 20px;
}

.slidwindo p {
  font-size: 20px;
}

.compName {
  width: 900px;
  height: 210px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 370px;

  margin-top: 430px;
}

.compName img {
  height: 70px;
  width: 200px;
}

.animation {
  height: 534px;
  width: 1024px;
  display: flex;
  margin-left: 270px;
  gap: 20px;
  margin-top: 100px;
}

.animation img {
  width: 505px;
  height: 534px;
  border: 1px solid rgba(128, 128, 128, 0.311);
  border-radius: 20px;
}

.animations-heading {
  margin-top: 140px;
  text-align: center;
}

.animation-2 img {
  width: 1024px;
  height: 664px;
  margin-left: 275px;
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.311);
  margin-top: 40px;
}
